body,#root {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height:100%;
}

.App {
  display: flex;
  justify-content: center;
}

.circle-loader-spinner{
  position: static !important;
  margin-top: 0% !important;
  margin-left: 0% !important;
  width: 50px !important;
  height: 50px !important;
  color: rgb(0, 133, 255) !important;
  margin:30px auto 0 auto !important;
  display:block !important;
}

